* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: 0.4s;
}

nav.scrolled {
    background: #1a1a1a;
}

.logo {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 20px;
}

nav ul li a:hover {
    color: #00e5ff;
}

/* SECTIONS */
section {
    height: 100vh;
    padding: 120px 40px;
    text-align: center;
}

#home {
    background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
    background-size: cover;
    color: white;
}

#destinations,
#services,
#contact {
    background: #f4f4f4;
}